<!DOCTYPE html>
<html></html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="tinderesque.css">
  <link rel="stylesheet" href="style.css">
  <title>AutoSwiper</title>
  <!-- Latest compiled and minified CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<!-- Optional theme-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<body>
  <h1>AutoSwiper</h1>
  <main>
    <nav class="navbar navbar-inverse"></nav>
  </main>
  <div class="container-fluid"></div>
  <div class="navbar-header"><a class="navbar-brand" href="/">My Website!</a></div>
  <ul class="nav navbar-nav">
    <li class="active"><a class="menu" href="/index">Home</a></li>
    <li><a class="menu" href="/account">Account </a></li>
    <li><a class="menu" href="/tags">Instellingen</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/user/me">
        You are logged in as
        user@example.com</a></li>
  </ul>
</body>
<div class="container">
  <h1 class="display-1">homepage</h1>

  <h2> <%= text %> </h2>

  <p>Welkom, Op deze pagina kan je op een snelle manier auto bezichtigen en makkelijk een bod uitbrengen!</p>
</div><a href="/get-data"></a>
<div>
  <div class="mijndiv">
    <form action="/" method="post" name="doeBod">
      <div class="buttons">
        <div class="cardcontainer">
          <h2>Audi s3</h2>
          <p>2017</p>
          <p>20000 Kilometer</p>
          <div class="card"><img src="pug.png" width="250px"></div>
          <button class="but-nope" type="button">X</button>
          <button class="but-yay" id="like" name="like" value="1" type="button" onclick="knoppenAanzetten(like)">✔</button>
        </div>
      </div>
      <input id="bod" type="text" name="bod" disabled="disabled" value="bod...">
      <input id="BodKnop" type="submit" name="submit" disabled="disabled">
    </form>
  </div>
  <div class="NavBar">
    <button class="Nav">Dislike</button>
    <button class="Nav">Informatie</button>
    <button class="Nav">Like</button>
  </div>
</div>
<script src="tinderesque.js"></script>
<script>
  document.body.addEventListener('nopecard', function(ev) {
  console.log(ev.detail);
  });
  document.body.addEventListener('yepcard', function(ev) {
  console.log(ev.detail);
  });
  document.body.addEventListener('deckempty', function(ev) {
  console.log(ev.detail);
  });
  document.body.addEventListener('cardchosen', function(ev) {
  console.log(ev.detail);
  });
  
  
  document.body.addEventListener('nopecard', function(ev) {
  var container = ev.detail.container;
  var label = container.querySelector('.nopes');
  if (label) {
  var nopes = +container.nopes || 0;
  nopes++;
  container.nopes = nopes;
  label.innerHTML = container.nopes;
  }
  });
  
  document.body.addEventListener('yepcard', function(ev) {
  var container = ev.detail.container;
  var label = container.querySelector('.yays');
  if (label) {
  var yeps = +container.yeps || 0;
  yeps++;
  container.yeps = yeps;
  label.innerHTML = container.yeps;
  }
  });
  
  document.body.addEventListener('deckempty', function(ev) {
  var container = ev.detail.container;
  var list = container.querySelector('.cardlist');
  var out = '<li class="card current">#1</li>';
  for (var i = 2; i < 6; i++) {
  out += '<li class="card">#' + i + '</li>';
  }
  list.innerHTML = out;
  });
  
  
  
  //Luistert naar de knoppen
  const likeKnop = document.getElementById("like");
  const bodKnop = document.getElementById("bod");
  const submitKnop = document.getElementById("BodKnop");
  
  function knoppenAanzetten(like) {
  document.getElementById("bod").disabled = false;
  document.getElementById("BodKnop").disabled = false;
  
  }
</script>
<script src="tinderesque.js"></script>