doctype html 
html 
head 
      meta(charset="utf-8")
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel="stylesheet", href="style.css")
      title AutoSwiper
      <!-- Latest compiled and minified CSS -->
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous")
<!-- Optional theme -->
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous")
<!-- Latest compiled and minified JavaScript -->
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous")
body 
    h1 AutoSwiper
    main 
      nav.navbar.navbar-inverse
    .container-fluid
    .navbar-header
      a.navbar-brand(href='/') My Website!
    ul.nav.navbar-nav
      li.active
        a.menu(href='/index') Home
      li
        a.menu(href='/account') Account 
      li
        a.menu(href='/tags') Instellingen
        
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/user/me')
          | You are logged in as
          | user@example.com

.container

  h1.display-1 homepage

  p.
    Welkom, Op deze pagina kan je op een slenne manier auto's bezichtigen en makkelijk een bod uitbrengen!

  h1#AutoTitel Audi s5

  p#Kilometerstand 20000KM
  p#Bouwjaar 2016
    
      
  div.mijndiv 
      img(src="pug.png", alt="auto afbeelding", width="400px") 
      form(action="/submitForm" method="post") 
        div.buttons
          button.Dislike(name="dislike") Dislike
          button.Informatie Informatie
          button.Like(onclick='enableTekstveld' name="like") Like
        input(type="text" id="Bod" value="Ik bied...")  
        input(type="submit" id="Bod")

  div.NavBar
    button.Nav Dislike
    button.Nav Informatie
    button.Nav Like

script(src="mijnbestand.js") 