html{
    font-family: arial;
    color: yellow;
}

.mijndiv{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 550px;
    border: 5px solid grey;
    border-radius: 5%;
    padding: 20px;
}

.mijndivTags{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 875px;
    border: 5px solid grey;
    border-radius: 5%;
    padding: 20px;
}

.menu{
    font-size: large;
}

.buttons{
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

button{
    width: 100px;
    height: 65px;
    font-size: 200%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Dislike{
    float: left;
    background-color: red;
    border: 2px solid black;
    font-size: larger;
    border-radius: 50px;
}

.Dislike:hover{
    background-color: rgb(82, 11, 11)
}

.Dislike:active{
    border: 1px solid grey;
}

.Like{
    float: right;
    background-color: rgb(119, 230, 119);
    border: 2px solid black;
    font-size: larger;
    border-radius: 50px;
}

.Like:hover{
    background-color: rgb(22, 70, 22);
}

.Like:active{
    border: 1px solid grey;
}

.Informatie{
   margin-left: auto;
   margin-right: auto;
   background-color: lightblue;
   border: 2px solid black;
   font-size: larger;
   border-radius: 50px;
}

.Informatie:hover{
    background-color: rgb(103, 162, 182);
}

.Informatie:active{
    border: 1px solid grey;
}

#Bod{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2em;
}

.NavBar{
   width: 450px;
   display: flex;
   margin-left: auto;
   margin-right: auto;
}

.Nav{
   margin-top: 2em;
   margin-left: auto;
   margin-right: auto;
   border: 2px solid black;
   border-radius: 5%;
}

form{
    display: block;
}

section input{
    width: 100px;
}

